### <span style="color:blue">_**Requirements**_</span>
- <span style="color:blue">_**Data Loading And Aggregating**_</span>
- <span style="color:blue">_**Engagement And Experience Clustering**_</span>  
- <span style="color:blue">_**Engagement Score And Experience Score**_</span>   
- <span style="color:blue">_**Satisfaction Score**_</span>  
- <span style="color:blue">_**Regression Model**_</span>
- <span style="color:blue">_**k-Means Clustering**_</span>
- <span style="color:blue">_**Export Data To Table**_</span>

In [1]:
import os, sys
current_dir = os.getcwd()
print(current_dir)

parent_dir = os.path.dirname(current_dir)
print(parent_dir)

sys.path.insert(0,parent_dir)

c:\Users\ibsan\Desktop\TenX\week-2\notebooks
c:\Users\ibsan\Desktop\TenX\week-2

In [2]:
import pandas as pd
from scripts.SatisfactionAnalyzer import SatisfactionAnalyzer
from scripts.DataPipline import DataPipeline

- <span style="color:blue">_**Data Loading And Aggregating**_</span>

In [3]:
# Loads the data from sql
query = "SELECT * FROM xdr_data;"
telecom_df = DataPipeline.load_data_using_sqlalchemy(query=query)
telecom_df.head(3)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0

In [4]:

# Create an instance of the SatisfactionAnalyzer class
analyzer = SatisfactionAnalyzer(telecom_df)

# Aggregate user data
analyzer.aggregate_user_data()

Aggregated User Data:
        MSISDN/Number  TCP DL Retrans. Vol (Bytes)  Avg RTT DL (ms)  \
0        3.360100e+10                 2.080991e+07        46.000000
1        3.360100e+10                 2.080991e+07        30.000000
2        3.360100e+10                 2.080991e+07       109.795706
3        3.360101e+10                 1.066000e+03        69.000000
4        3.360101e+10                 1.507977e+07        57.000000
...               ...                          ...              ...
106851   3.379000e+10                 2.150440e+05        42.000000
106852   3.379000e+10                 2.080991e+07        34.000000
106853   3.197021e+12                 2.080991e+07       109.795706
106854   3.370000e+14                 2.080991e+07       109.795706
106855   8.823971e+14                 2.080991e+07       109.795706

                            Handset Type  Avg Bearer TP DL (kbps)  \
0         Huawei P20 Lite Huawei Nova 3E                     37.0
1                 Apple iPhone 7 (A1778)                     48.0
2                              undefined                     48.0
3                Apple iPhone 5S (A1457)                    204.0
4                Apple iPhone Se (A1723)                  20197.5
...                                  ...                      ...
106851               Huawei Honor 9 Lite                   9978.0
106852       Apple iPhone 8 Plus (A1897)                     68.0
106853  Quectel Wireless. Quectel Ec25-E                      1.0
106854                  Huawei B525S-23A                     11.0
106855  Quectel Wireless. Quectel Ec21-E                      2.0

        Session_Frequency  Total_Session_Duration  Total_Traffic
0                     1.0                116720.0    878690574.0
1                     1.0                181230.0    156859643.0
2                     1.0                134969.0    595966483.0
3                     1.0                 49878.0    422320698.0
4                     2.0                 37104.0    871832580.0
...                   ...                     ...            ...
106851                1.0                  8810.0    714641641.0
106852                1.0                140988.0    480307335.0
106853                1.0                877385.0    232123971.0
106854                1.0                253030.0    596287824.0
106855                1.0                869844.0    139153646.0

[106856 rows x 8 columns]

- <span style="color:blue">_**Engagement And Experience Clustering**_</span>

In [5]:

# Perform engagement clustering
analyzer.perform_engagement_clustering(n_clusters=3)

# Perform experience clustering
analyzer.perform_experience_clustering(n_clusters=3)

- <span style="color:blue">_**Engagement Score And Experience Score**_</span>

In [6]:

# Calculate engagement score
analyzer.calculate_engagement_score()

# Calculate experience score
analyzer.calculate_experience_score()

- <span style="color:blue">_**Satisfaction Score**_</span>

In [7]:

# Calculate satisfaction score
analyzer.calculate_satisfaction_score()

# Find the top 10 most satisfied customers
analyzer.find_top_satisfied_customers(n=10)

Top 10 Most Satisfied Customers:
       MSISDN/Number  TCP DL Retrans. Vol (Bytes)  Avg RTT DL (ms)  \
47983   3.366232e+10                 2.080991e+07     96923.000000
13180   3.362578e+10                 1.470700e+07        37.987983
80249   3.368369e+10                 9.200000e+01     54847.000000
6437    3.361489e+10                 7.540102e+06        65.222014
92923   3.376054e+10                 1.616105e+07       118.663804
13526   3.362632e+10                 1.273618e+07        63.520314
65118   3.366716e+10                 1.803455e+06        33.307692
41944   3.366087e+10                 2.080991e+07     32333.000000
50281   3.366284e+10                 2.880205e+07       154.043013
666     3.360313e+10                 5.922126e+06       100.132618

                            Handset Type  Avg Bearer TP DL (kbps)  \
47983             Apple iPhone 8 (A1905)                 1.000000
13180           Samsung Galaxy A8 (2018)             11577.117647
80249                         Lg Lg-D315                12.000000
6437         Samsung Galaxy J5 (Sm-J530)             24324.823529
92923        Samsung Galaxy J5 (Sm-J530)             12051.133333
13526        Samsung Galaxy J3 (Sm-J330)              6101.944444
65118        Samsung Galaxy J5 (Sm-J530)             23644.769231
41944             Apple iPhone 6 (A1586)                43.500000
50281        Tp-Link Technolo. Tl-Mr6400             32808.444444
666    Samsung Galaxy S9 Plus (Sm-G965F)             11011.583333

       Session_Frequency  Total_Session_Duration  Total_Traffic  \
47983                1.0                168242.0    243009794.0
13180               17.0              18553754.0    306500006.0
80249                1.0                 44731.0    665895211.0
6437                17.0               9966898.0    388199291.0
92923               15.0               9279434.0    674632448.0
13526               18.0               8791927.0    264895233.0
65118               13.0               8744914.0    384997635.0
41944                2.0                251403.0    735051035.0
50281                9.0               6614270.0    143872934.0
666                 12.0               6287761.0    436982007.0

       Engagement_Cluster  Experience_Cluster  Engagement_Score  \
47983                   0                   1          0.412981
13180                   2                   1        100.841786
80249                   1                   1          1.638950
6437                    2                   1         56.357807
92923                   2                   1         52.070082
13526                   2                   1         50.985596
65118                   2                   1         48.543171
41944                   1                   1          2.207183
50281                   2                   0         36.172055
666                     2                   1         35.709233

       Experience_Score  Satisfaction_Score
47983        168.776467           84.594724
13180         22.743118           61.792452
80249         97.305263           49.472107
6437          22.756669           39.557238
92923         22.725547           37.397814
13526         22.793549           36.889573
65118         22.818120           35.680646
41944         60.137587           31.172385
50281         22.509543           29.340799
666           22.835175           29.272204

- <span style="color:blue">_**Regression Modeling**_</span>

In [8]:

# Build a regression model to predict satisfaction score
analyzer.build_regression_model()

# Perform K-Means clustering on satisfaction scores
analyzer.cluster_satisfaction(n_clusters=2)

Regression Model Coefficients: [ 2.46879920e-01  1.90794008e-06  1.15576888e-09 -3.10003492e-09
  4.68235177e-04 -2.31449538e-08]
Regression Model Intercept: 10.939024994709994

- <span style="color:blue">_**k-Means Clustering**_</span>

In [9]:

# Analyze satisfaction clusters
analyzer.analyze_satisfaction_clusters()

Cluster Statistics:
                     Satisfaction_Score Experience_Score
                                   mean             mean
Satisfaction_Cluster
0                             12.050996        22.741413
1                             13.762062        22.594281

- <span style="color:blue">_**Export Data To Table**_</span>

In [15]:
import os
import psycopg2 
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine


load_dotenv()

DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_TABLE = os.getenv("DB_TABLE")

In [16]:
# Export the final table to a MySQL database
analyzer.export_to_postgresql(
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASSWORD,
    database=DB_USER,
    table_name=DB_TABLE,
    port=DB_PORT
)

Data successfully exported to xdr_data table in postgres database.